.firstbar {
    font-family: serif;
    font-size: 50px;
    color: black;
    display: flex;
    position: relative;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 50px;
}

#address {
    font-size: 30px;
    color: rgb(209, 122, 0);
}

#footimage {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.video {
    object-fit: cover;
}

.mvc {
    color: wheat;
    background-image: url(about\ bg.jpg);
    background-attachment: fixed;
    border-top: 15px ridge rgb(128, 66, 9);
    border-bottom: 15px ridge rgb(146, 74, 7);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.top1 {
    border-bottom: 15px double rgb(15, 215, 230);
    border-radius: 90px;
}

.sec {
    background-image: url(bg2);
    padding: 30px;
    background-repeat: no-repeat;
    background-size: 135%;
}

.top2 {
    border-bottom: 16px double rgb(238, 118, 6);
    border-radius: 90px;
    height: 430px;
    width: 769px;
}

.top3 {
    border-bottom: 16px double rgb(193, 193, 218);
    border-radius: 90px;
    height: 430px;
    width: 769px;
}

.home {
    font-size: 52px;
    background: -webkit-linear-gradient(rgb(214, 223, 51), rgb(243, 31, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}